
body{
  background-image: url(../images/todobg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header-text{
  color: #f8f9fa;
}
.card{
min-height: 50vh;
background-color:rgb(255,255,255, 0.5);
--bs-card-cap-padding-x: 0.5rem;

}
.card-header{
 margin: 4px 4px;
background: rgb(5,3,8);
background: linear-gradient(108deg, rgba(5,3,8,1) 0%, rgba(19,38,79,1) 18%);

}
#todo-head, #progress-head, #done-head{
  color: #f8f9fa;
  font-weight: 600;
  font-size: 20px;
  
}
.card-header:first-child {
  border-radius:0 ; 
}
.card-task{
  background-color:rgb(255,255,255, 0.5);
}
.modal{
  --bs-modal-bg: rgba(19, 38, 79, 0.7);
}
.modal-backdrop {
  background-color: rgb(179, 177, 177);
}
h5{
  color: blanchedalmond;
}
.modal-content{
  color: blanchedalmond;
}
label{
  margin-top: 6px;
  margin-bottom: 6px;
}
.form-control{
  border: 2px solid rgb(110,100,94);
}
.btn-close{
 /*  background:  rgb(220, 42, 42); */
 
}
i{
  color: white;
  padding: 4px;
  
} 
.fa-arrow-right-arrow-left {
  background: white;
  color:rgba(19, 38, 79);
  font-weight: bold;
 margin: 6px 8px;
  border-radius: 4px;
}

.fa-comment{
  background: white;
  color: rgba(19, 38, 79);
  border-radius: 4px;

}
b{
  margin-left: 2px;
}
 .btn-outline-light {
  --bs-btn-hover-bg:  transparent;
  --bs-btn-active-color:  #fff;
  --bs-btn-hover-color:  #fff;
  --bs-btn-border-color: rgba(19, 38, 79);

} 
.btn{
  --bs-btn-bg: rgba(19, 38, 79);
}

.fa-pen:hover, .fa-calendar-xmark:hover{
  color: #fff ;
}
.fa-solid {
  font-size: 14px;
}
@media  (max-width: 768px){
 
  .fa-calendar-days, .fa-arrow-right-arrow-left, .fa-comment{
    font-size: 10px;
  }
  i{
    padding: 2px;
  }
  .fa-arrow-right-arrow-left{
    margin: 6px 6px;
  }
 
}
